<div class="w3-card w3-white"
     mod-openable="filter"
     ng-init="filter.isOpen(open)">
    <div class="w3-row w3-padding w3-text-indigo am-text-bold"
         ng-click="filter.switch()">
        <div class="w3-display-container am-pointer w3-hover-text-blue w3-small">
            <i ng-if="icon != null" class="fa fa-{{icon}}"></i>
            {{title}}
            <i class="fa fa-caret-{{filter.isOpen() ? 'up' : 'down'}} w3-display-right"></i>
        </div>
    </div>
    <div class="w3-padding" ng-class="{'w3-hide': !filter.isOpen()}">
        <div ng-transclude>
        </div>
    </div>
</div>