<form name="group" ng-init="all = allChecked()">
    <div class="w3-row w3-padding am-padding-vertical am-text-bold w3-small">
        <label >
            <input type="checkbox" ng-model="all" ng-change="checkAll()" ng-checked="allChecked()"/>
            {{allLabel}} ({{getAllCount()}})
        </label>
    </div>
    <div class="w3-row w3-padding am-padding-vertical" ng-repeat="$item in model">
        <label class="w3-small">
            <input type="checkbox" ng-model="model[$index].selected" ng-change="updateChecks()">
            <!-- Si se definio una url, usara la misma para dibujar el label subsiguiente al checkbox. -->
            <ng-include ng-if="templateUrl != null" src="templateUrl" ></ng-include>
            <!-- Si no, dibujara la propiedad label y la propiedad count entre parentesis, de cada item. -->
            <span ng-if="templateUrl == null">{{$item.label}} ({{$item.count}})</span>
        </label>
    </div>
</form>