<div class="w3-card w3-white w3-cell-row w3-padding w3-margin-bottom" path-to>
    <div style="width: 300px;" class="w3-display-container w3-cell w3-cell-middle">
        <div class="w3-display-topmiddle w3-small w3-center am-text-bold w3-indigo w3-padding"
             ng-if="hotel.features.recommended"
             style="width: 100%">
            <span>¡Hotel recomendado!</span>
        </div>
        <div class="w3-display-topleft w3-green w3-padding w3-small w3-margin-left am-text-bold"
             ng-if="hotel.features.offer">
            <span class="w3-row">{{hotel.features.offer.percentage}}%</span>
            <span class="w3-row">OFF</span>
        </div>
        <img ng-src="{{pathTo('assets/img/hotels/' + hotel.code +'.png')}}" style="width: 100%;"/>
    </div>
    <div class="w3-cell w3-cell-top w3-padding am-padding-horizontal am-text-bold">
        <div class="w3-row">
            <span>{{hotel.name}}</span>
        </div>
        <div class="w3-row">
            <i class="fa fa-star w3-text-yellow am-padding-h-mini"
               ng-repeat="star in [].constructor(hotel.stars) track by $index"></i>
        </div>
        <div class="w3-row w3-text-deep-orange">
            <i class="fa fa-bed "></i>
            <span>Solo la habitación</span>
        </div>
        <div class="w3-row">
            <i class="fa fa-{{amenity}} am-padding-h-mini"
               ng-repeat="amenity in hotel.features.amenities track by $index"></i>
        </div>
    </div>
    <div class="w3-cell w3-cell-middle
                            w3-border-gray am-border-dashed-left
                            w3-center w3-text-gray" style="width: 200px">
        <div class="w3-row w3-tiny">
            <span>Precio por noche por habitación</span>
        </div>
        <div class="w3-row w3-xlarge w3-text-deep-orange">
            <span>{{hotel.coin}}</span>
            <span class="w3-xxlarge am-text-bold">{{hotel.price}}</span>
        </div>
        <div class="w3-row w3-tiny" ng-if="hotel.features.offer">
            <span>Precio sin promo {{hotel.coin}}</span> <span class="am-text-bold">{{hotel.features.offer.original}}</span>
        </div>
        <div class="w3-row w3-tiny">
            <span>Impuestos y tasas no incluidos</span>
        </div>
        <div class="w3-row w3-padding am-padding-vertical">
            <a class="w3-button w3-text-white am-blue" href="#" >
                <span class="w3-padding am-padding-horizontal am-text-bold">Ver hotel</span>
            </a>
        </div>
        <div class="w3-row w3-small" ng-if="hotel.features.payment.dues">
            <span class="am-text-bold">Pagá en cuotas</span>
        </div>
        <div class="w3-row w3-small" ng-if="hotel.features.payment.destiny">
            <span class="am-text-bold">Pagá en destino</span>
        </div>
    </div>
</div>