/* Utils */
a {
    text-decoration: none;
}

.am-pointer {
    cursor: pointer !important;
}

.am-text-bold {
    font-weight: bold !important;
}

.am-padding-h-mini {
    padding-right: 3px !important;
    padding-left: 3px !important;
}

.w3-padding.am-padding-horizontal {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.w3-padding.am-padding-vertical {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.w3-padding.am-padding-left {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
}

.am-border-dashed-left {
    border-left: 1px solid;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: dashed !important;
}

.am-blue {
    background-color: #003077 !important;
}

/* Tamaños */
.am-height-small {
    height: 30px !important;
}

.am-height-medium {
    height: 60px !important;
}

.am-height-expand {
    height: 100% !important;
}

/* Navigation */
.am-nav-blue {
    background: radial-gradient(ellipse at center, #0e3d86 0%, #003077 100%) !important;
}

.am-sub-blue {
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(0,44,119,.2);
    background: linear-gradient(90deg, rgb(17, 72, 123), rgb(74, 107, 150), rgb(74, 107, 150), rgb(74, 107, 150), rgb(17, 72, 123)) !important;
}

.am-sub-blue .w3-padding {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

/* UI Slider */
.ui-slider-range {
    background-color: gray;
}

.ui-slider-handle {
    height: 35px !important;
    background-color: white;
    border-radius: 10px;
    top: -11px !important;
    cursor: pointer !important;
    border: 1px solid gray;
}