<!-- Navigation -->
<ng-include src="pathTo('/views/navigation.html')"></ng-include>
<!-- Content -->
<div class="w3-display-container" ng-controller="hotelsController as hotelsController">
    <div class="w3-display-topmiddle
                w3-col m11 l9">
        <div ng-class="{'w3-border': responsive.isLarge()}"
             class="w3-border-gray
                    w3-padding
                    w3-container">
            <div class="w3-row w3-padding am-padding-vertical w3-hide-medium w3-hide-small">
                Hoteles disponibles para:
            </div>
            <div ng-class="{'w3-center': !responsibe.isLarge()}"
                 class="w3-row w3-padding am-padding-vertical w3-small">
                <div class="w3-cell w3-hide-medium w3-hide-small">
                    <i class="fa fa-map-marker"></i><span class="w3-padding am-padding-horizontal">Madrid</span>
                    <i class="fa fa-calendar-minus-o"></i><span class="w3-padding am-padding-horizontal">16/11/2016</span>
                    <i class="fa fa-calendar-plus-o"></i><span class="w3-padding am-padding-horizontal">30/11/2016</span>
                    <i class="fa fa-user"></i><span class="w3-padding am-padding-horizontal">2 huéspedes</span>
                </div>
                <a href="#" ng-class="{'w3-cell': responsive.isLarge(), 'w3-large': !responsive.isLarge()}"
                   class="w3-text-indigo">Modificar búsqueda <i class="fa fa-caret-down w3-hide-large"></i></a>
            </div>
        </div>
        <div class="w3-row"
             ng-class="{'w3-border-top w3-border-gray': !responsive.isLarge()}">
            <div class="w3-col l3">
                <div class="w3-margin-top w3-margin-bottom" ng-class="{'w3-card w3-white': responsive.isLarge()}">
                    <div class="w3-hide-small w3-hide-medium" style="max-height: 100px; overflow: hidden">
                        <img ng-src="{{pathTo('assets/img/map/navigation-map.png')}}" style="width: 100%">
                        </img>
                    </div>
                    <div class="w3-center">
                        <a href="#" class="w3-text-indigo w3-small"
                           ng-class="{'w3-large': !responsive.isLarge()}">
                            Ver hoteles en el mapa
                        </a>
                    </div>
                </div>
                <div mod-openable="filters" ng-class="{'w3-border-top w3-border-gray': !responsive.isLarge()}">
                    <div ng-class="{'w3-center w3-text-indigo w3-large w3-margin-top w3-margin-bottom': !responsive.isLarge(),
                                    'am-text-bold': responsive.isLarge()}" >
                        <span ng-click="!responsive.isLarge() && filters.switch()" ng-class="{'am-pointer': !responsive.isLarge()}">
                            Filtrar
                            <i class="fa fa-caret-{{filters.isOpen() ? 'up' : 'down'}} w3-hide-large"></i>
                        </span>
                    </div>
                    <div ng-class="{'w3-hide': !filters.isOpen() && !responsive.isLarge()}">
                        <am-dropdown icon="search" title="Nombre de hotel" open="true">
                            <input class="w3-input w3-small" type="text" placeholder="Ingrese el nombre del hotel" ng-model="hotelsController.filter.name"/>
                        </am-dropdown>
                        <am-dropdown icon="dollar" title="Precio por noche" open="true">
                            <div class="w3-light-grey w3-margin-bottom w3-margin-top">
                                <div ui-slider="{range: true}"
                                     min="700" max="2200"
                                     step="1"
                                     ng-model="hotelsController.filter.priceRange"></div>
                            </div>
                            <div class="w3-display-container">
                                <span class="am-text-bold w3-small">$ {{hotelsController.filter.priceRange[0]}}</span>
                                <span class="am-text-bold w3-display-right w3-small">$ {{hotelsController.filter.priceRange[1]}}</span>
                            </div>
                        </am-dropdown>
                        <am-dropdown icon="star" title="Estrellas" open="true">
                            <am-group-choose all-label="Todas las estrellas"
                                             template-url="{{pathTo('views/templates/starsChoose.html')}}"
                                             model="hotelsController.filter.stars">
                            </am-group-choose>
                        </am-dropdown>
                    </div>
                </div>
            </div>
            <div ng-class="{'w3-border-top w3-border-gray': !responsive.isLarge()}" class="w3-col l9">
                <div class="w3-row am-height-small w3-display-container">
                    <div ng-class="{'w3-display-right': responsive.isLarge(), 'w3-display-middle': !responsive.isLarge()}" ng-init="myColor = {name: 'red'}">
                        <span class="w3-small">Ordenar</span>
                        <select ng-model="hotelsController.filter.order"
                                ng-options="order.label for order in hotelsController.orders track by order.value"></select>
                    </div>
                </div>
                <div class="w3-row" ng-class="{'w3-padding am-padding-left': responsive.isLarge()}">
                    <am-hotel ng-repeat="hotel in hotelsController.hotels" hotel="hotel"></am-hotel>
                </div>
            </div>
        </div>
    </div>
</div>