<!-- Navbar -->
<div class="w3-display-container
            am-nav-blue
            am-height-medium" >
    <div class="w3-display-middle
                w3-col m11 l9">
        <img ng-src="{{pathTo('/assets/img/logo/logo-almundo.svg')}}"
             ng-class="{'am-height-small': !responsive.isLarge()}"/>
        <div class="w3-display-right">
            <div class="w3-cell-row w3-small w3-text-white">
                <div class="w3-container w3-cell w3-cell-middle am-pointer">
                    <i class="fa fa-user" ng-class="{'w3-xlarge': !responsive.isLarge()}"></i>
                    <span class="w3-hide-small w3-hide-medium">
                        Ingresar
                    </span>
                </div>
                <div class="w3-container w3-cell w3-cell-middle w3-hide-medium w3-hide-small
                            w3-border-white w3-border-left am-pointer">
                    <img class="am-pointer"
                         style="height: 11px; margin-bottom: -1px;"
                         ng-src="{{pathTo('/assets/img/logo/clubalmundo.svg')}}" />
                </div>
                <div class="w3-container w3-cell w3-cell-middle w3-hide-medium w3-hide-small
                            w3-border-white w3-border-left am-pointer">
                    <span>
                        Sucursales
                    </span>
                </div>
                <div class="w3-container w3-cell w3-cell-middle
                            am-pointer"
                    ng-class="{'w3-border-white w3-border-left': responsive.isLarge()}">
                    <i class="fa fa-phone w3-hide-large w3-xlarge"></i>
                    <span class="w3-hide-medium w3-hide-small">
                        Llamanos <i class="fa fa-chevron-down w3-tiny"></i>
                    </span>
                </div>
                <div class="w3-container w3-cell w3-cell-middle w3-hide-medium w3-hide-small
                            w3-border-white w3-border-left am-pointer">
                    <span>
                        Ayuda
                    </span>
                </div>
                <div class="w3-container w3-cell w3-cell-middle w3-hide-large am-pointer">
                    <i class="fa fa-bars w3-xlarge">
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Submenu -->
<div class="w3-container w3-hide-small w3-hide-medium
            w3-center w3-text-white w3-small
            am-sub-blue">
    <a href="#" class="w3-button w3-orange w3-text-white w3-hover-indigo w3-padding">
        <b>Hoteles</b>
    </a>
    <a href="#" class="w3-button w3-hover-indigo w3-padding">
        <b>Vuelos</b>
    </a>
    <a href="#" class="w3-button w3-hover-indigo w3-padding">
        <b>Vuelo + Hotel</b>
    </a>
    <a href="#" class="w3-button w3-hover-indigo w3-padding">
        <b>Paquetes</b>
    </a>
    <a href="#" class="w3-button w3-hover-indigo w3-padding">
        <b>Disney</b>
    </a>
    <a href="#" class="w3-button w3-hover-indigo w3-padding">
        <b>Escapadas</b>
    </a>
    <a href="#" class="w3-button w3-hover-indigo w3-padding">
        <b>Seguros</b>
    </a>
    <a href="#" class="w3-button w3-hover-indigo w3-padding">
        <b>Autos</b>
    </a>
    <a href="#" class="w3-button w3-hover-indigo w3-padding">
        <b>Cruceros</b>
    </a>
    <a href="#" class="w3-button w3-hover-indigo w3-padding">
        <b>OFERTAS</b>
    </a>
    <a href="#" class="w3-button w3-hover-indigo w3-padding">
        <b>Más</b> <i class="fa fa-chevron-down w3-tiny"></i>
    </a>
</div>
<!-- Breadcrumb -->
<div class="w3-display-container
            w3-hide-medium
            am-height-small">
    <div class="w3-display-middle w3-tiny
                w3-col m11 l9">
        <a href="#" class="w3-text-indigo">Home</a> /
        <a href="#" class="w3-text-indigo">Hoteles</a> /
        <span>Madrid</span>
    </div>
</div>