<!DOCTYPE html>
<html>
<head>
    <title><%= pkg.title %></title>
    <meta name="version" content="<%= pkg.version %>">

    <link rel="icon" href="<%= pkg.version %>/assets/img/logo/favicon.png">

    <link rel="stylesheet" href="<%= pkg.version %>/css/bundle.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ng-app="mainApplication" class="w3-light-grey" mod-responsive path-to>
    <div ng-include src="'/<%= pkg.version %>/views/main.html'"></div>
    <script type="text/javascript" src="<%= pkg.version %>/js/bundle.js"></script>
</body>
</html>